.uploadFile {
    display: none !important;
}

.groupBtn{
    margin-left: 10px !important;
}

.table {
    height: 80vh;
}

.receiptBtn{
    height: 20vh !important;
}

.receipTable{
    padding: 20px;
    height: 100%;
}

.receipTable-expenses{
    margin-top:10px;
}