.uploadFile {
    display: none !important;
}

.groupBtn{
    margin-left: 10px !important;
}

.table {
    height: 70vh;
}

.receipTable{
    padding: 20px;
    height: 100%;
}

.receipTable-expenses{
    margin-top:10px;
}