.gradientHome {
	display: grid !important;
	justify-items: center;
    height: 92vh !important;
	background: linear-gradient(100deg, rgb(153, 248, 255), #65d1fb, #2769a7, #65d1fb, rgb(153, 248, 255)

    );
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.gradientContact {
    height: 100vh !important;
	background: linear-gradient(100deg, rgb(153, 248, 255), #65d1fb, #2769a7, #65d1fb, rgb(153, 248, 255)

    );
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}